
table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 3px 0px !important;
}

th {
    background-color: #f2f2f2;
    vertical-align: middle !important;
    border: none !important;
}
table tr td:first-child{
    border-left: none !important;
}
td {
    border: 1px solid #ddd;
}
thead {
    position: sticky;
    top: 0px;
}

.map-image, .titan-image {
    width: 100% !important;
    height: auto;
}

.titan-image {
    padding: 5px 40px;
}